<nav class="navbar navbar-expand navbar-dark bg-success">
<div>
    <a class="navbar-brand" routerLink="/">NOBITA CODE</a>
</div>

<div  >
    <ul class="navbar-nav mr-auto">
       
        <ng-container *ngIf="this.auth.isAuthenticated(); then authenticated; else notAuthenticated">
 
        </ng-container>
     
       <ng-template #notAuthenticated>
        
        <li class="nav-item active"> <a class="nav-link" routerLink="/register">Register <span class="sr-only">(current)</span></a></li>
        <li class="nav-item active"> <a class="nav-link" routerLink="/login">Login </a></li>
      
       </ng-template>
      <ng-template #authenticated>
        
        <li class="nav-item active"> <a class="nav-link"  routerLink="/bookstore">BookStore</a> </li>
        <li class="nav-item active"> <a class="nav-link" (click)="logout()">Logout</a></li>
       
      </ng-template>
     </ul>
</div>

</nav>