<!-- <div class="form">
    <h2 id="registeration"> Registeration form</h2>
    <form >
        
        <label for="fname">First name :</label>
        <input type="text" id="fname" placeholder="Nobita" formControlName="firstname"><br>
        <label for="lname" >Last name :</label>
        <input type="text"  id="lname" placeholder="khan" formControlName="lastname" ><br>
        <label for="email" >Email Id :</label>
        <input type="text" id="email"  placeholder="nobitakhan@143gmail.com" formControlName="email">
        <label for="country"></label><br><br>

        <button class="btn btn-primary">Login</button> -->
<!--         
        <section id="country" formControlName="country">
            <option value="america">America</option>
           <option value="india">India</option>
           <option value="china">China</option> 
        </section>  -->

        <!-- <label  for="Gender">Gender</label>
        <input type="radio"id="male" value="male" formControlName="gender">
        <label   for="Male">Male</label>
        <input type="radio"id="female" value="female" formControlName="gender">
        <label  for="Female">Female</label>
        <input type="radio"id="" value="others"  formControlName="gender">  
       <label for="Others">Others</label>
        <br><br> -->

        

<!-- 
        <label for="">Hobbies <i>Optional</i></label>
        <div class="form-inline">
            <label for=""> <input type="checkbox" value="sports" formControlName="hobbies"> sports </label>
            <label for=""> <input type="checkbox" value="movies"  formControlName="hobbies"> Movies</label>
            <label for=""> <input type="checkbox" value="music"  formControlName="hobbies"> Music</label>
        </div> -->



    <!-- </form>

</div> -->

<!-- ================================================================================================================================= -->
<!-- //Creating a Data Service -->

<!-- <div class="container">
    <div class="user-div">
        <div class="user-name">Nobita</div>
        <div class="user-status">Active</div>
        <div></div>
    </div>
</div>
 -->

<!-- =============================================================================================================== -->
<!-- <app-navbar></app-navbar>
<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a [title]="product.name + 'details' ">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
  Description: {{product.description}}
</p>
<button class="btn btn-primary" (click)="share()">share</button>
</div> -->

<!-- 
<app-preview></app-preview> -->

<!-- <button (click)="getData('button click event')"> click me</button>

<br> <input type="text" #box1 placeholder="keyup box" (keyup)="getData(box1.value)">

<br> <input type="text" #box2 placeholder="keydown box" (keydown)="getData(box2.value)">

<br> <input type="text" #box3 placeholder="blur box" (blur)="getData(box3.value)">

<br> <input type="text" #box4 placeholder="input box" (input)="getData(box4.value)">

<h1 (mouseover)="getData('mouseover')"> Nobita Trainee</h1>

<h1 (mouseleave)="getData('mouseleave')"> soorya Trainee</h1>

<p (mouseover)="getData('mouseover')"  >Preview :  <img src="https://st2.depositphotos.com/1105977/5461/i/950/depositphotos_54615585-stock-photo-old-books-on-wooden-table.jpg" height="80px"


alt=""></p> -->




<!-- 
<h1>Show List Api DAta in Angular</h1>
<table border="2">
    <tr>
    <td>id </td>
    <td>title</td>
    <td>user id</td>

    </tr> -->
    <!-- <tr *ngFor="let item of sample">
        <td>{{item.items }}</td>
        <td>{{item.title}}</td>
        <td>{{item.userId}}</td>
        
        </tr> -->










<router-outlet></router-outlet>
<!-- <app-bookstore></app-bookstore> -->













<!-- 
<p>Today is very good Day plz focus on your work</p> -->


<!-- <app-student-service></app-student-service> -->

<!-- <app-bookstore></app-bookstore> -->

<!-- <div class="container">
    <app-javascript></app-javascript>
    <app-angular></app-angular>

</div> -->
<!-- <app-bootstrap></app-bootstrap> -->




<!-- ========================================================================== -->
<!-- <h1>My App</h1>
<a routerLink="/users"
class="badge badge-primary mb-2"
routerLinkActive="badge-success">Go to Users</a> -->

 <!-- <router-outlet></router-outlet>  -->





<!-- ========================================================================= -->










